

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background : #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* General Styles */

   html {
    font-size: 16px;
  }

   body {
    font-family: 'Open-Sans', sans-serif;
    font-size: 1em;
    color: #ffffff;
    text-align: left;
   }

   ul,
   ol {
     list-style-type: none;
     margin: 0;
     padding: 0;
     /*added margin and padding from soln 5.21.22*/

   }

   a {
     color: #1F2022;
;
     text-decoration: none;

   }


   h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.875em;
    font-weight: 500;
    margin: 0;
    /* Added margin 0 from soln on 5.21.22*/
   }

   h3,
   h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em;
    font-weight: 500;
    margin: 20px 0;
  }


   p {
     font-size: 0.875em;
     line-height: 1.285;
   }

   img {
     width: 100%;
   }

   figure {
     margin: 0;
   }

   address {
     font-style: normal;
   }

   .content-wrapper {
     width: 90%;
     margin: 50px 0;
   }

  /*---------------------------Base Header - Footer Styles------------------*/

  header,
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #FFFCC9;
   }

  footer{
    color: #1F2022
  }

  header {
    padding: 15px 0;
  }

  header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
  }

  header figure {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .header-divider {
    background: #3a3a3a;
    width: 100%;
    height: 1px;
    margin: 10px 0 20px 0;
  }

  header nav {
    width: 60%;
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }

  header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  header nav ul li {
    font-size: 1.125em;
  }

  footer {
    text-align: center;
    flex-direction: column;
  }

  footer p {
    margin: 0;
  }

  footer .content-wrapper {
    width: 55%;
    margin: 50px 0;
  }

  footer .contact {
    margin-bottom: 50px;
  }

  footer .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  /* Changed social icons to space-around from space between 5.21.22*/

  footer .social-icons p {
    background-color: #FFFCC9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  footer .social-icons p i {
    font-size: 1.3135em;
  }

  footer .copyright {
    margin: 20px 0;
  }

  /*-----------------Mobile Styles-homepage----------------------------------*/

  /*--Hero Area*/

  .hero-area {
    background-image: url("https://assets.codepen.io/8350782/kayak-wide.jpg");
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  /* Removed background repeat and added background position 5.21.22*/

  .hero-area h1 {
    font-size: 2.25em;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff;
  }

  /* aside */

  aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #1D45B3
;
  }



  aside .form {
    margin-top: 30px;
  }

  input[type=text] {
    box-sizing: border-box;
    width: 100%;
    color: #2a423a;
    font-style: italic;
    padding: 1em;
  }

  input[type=button] {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #1F2022;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color: #e2e3ed;
    border: none;
    text-align: center;
    text-transform: uppercase;
  }



  /* Features */

  .features {
    background: url('https://i.ibb.co/fpvKTcN/rawpixel-800820-unsplash1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  .features h2 {
    margin-bottom: 60px;
  }

  .features article {
    width: 63%;
    margin: 30px 0;
  }
  .features .features-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .features i {
    font-size: 3.75em;
    margin-bottom: 40px;
  }

  .features p {
    text-align: center;
    margin: 0;
  }/*** margin of zero here tricks the browser to not apply the default of 14 or so **/

  /* reviews*/

  .reviews {
    background-color: #1D45B3
;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  .review h2 {
    margin-bottom: 40px;
    line-height: 1;
  }

  .reviews h3 {
    width: 55%;
    margin: 20px 0;
  }

  .reviews img {
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 10px 20px black
  }
  /*=================================================================================================
    About Page
  ===================================================================================================*/
  .mission {
    background-color: #527158;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .map figure {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
    position: relative;
  }

  .map iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .contact-section {
    background-color: #2a423a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .contact-content p {
    margin: 0;
  }

  /*===================================================================================================
    Faq Page
  ====================================================================================================*/

  .faq {
    background-color: #527158;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .faq .content-wrapper {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .faq h2 {
    margin-bottom: 40px;
    line-height: 1;
  }

  .faq-content {
    margin-bottom: 50px;
  }

  .faq-content h4 {
    line-height: 1.333;
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
 /***TABLET STYLES GO HERE***/

  /*General Styles*/
  .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }

  h2 {
    font-size: 2.25em;
    line-height: 1.333;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }

  /*Header*/
  header {
    justify-content: space-around;
    padding: 33px 0;
  }

  header .content-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  header figure {
    width: 15%;
  }

  header nav {
    width: 30%;
  }

  header nav ul {
    justify-content: space-between;
  }

  .header-divider {
    display: none;
  }

  /*Hero Area*/

  .hero-area {
    min-height: 600px;
  }

  .hero-area h1 {
    font-size: 3em;
    line-height: 1;
    margin: 0;
  }

  /*Aside*/
  aside .content-wrapper {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form{
    width: 40%;
    margin: 0;

  }
  /* Changed width to 40% 5.21.22*/

  /*Features*/

  .features h2 {
    margin-bottom: 20px;
  }

  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 50%;

  }

  .features .features-item-descriptions {
    width: 62%;
  }

  .features i {
    margin-bottom: 30px;
  }

  .features p {
    padding: 0 15%;
  }

  /* Added width to features 5.21.22*/

  /*Reviews*/
  .reviews article {
    display: flex;
    justify-content: space-between;

  }

  .reviews h2 {
    width: 85%;
    padding-bottom: 5%;
  }

  .reviews article figure,
  .reviews article div {
    width: 49%;
  }

  .reviews h3 {
    width: 75%;
    margin: 0;
  }
  /*Changed Margin to 0 5.21.22*/

  /*Footer*/
  footer .content-wrapper {
    width: 65%;
    margin: 100px 0;

  }

  footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  footer .contact {
    margin-bottom: 0;
  }

  footer h4 {
    font-size: 1.5em;
    margin-bottom: 40px;
  }

  footer p {
    line-height: 1.285;
  }

  footer .social-icons {
    width: 12.5em;
    justify-content: space-between;
  }
  /*Added new width and justify content for tablet breakpoint 5.21.22*/

  footer .copyright {
    width: 100%;
  }

/*=================================================================
  ABOUT PAGE
==================================================================*/

 .mission-content {
   display: flex;
   justify-content: space-between;
   align-items:center;
   padding-top: 20px;
 }

  .mission-content p {
    width: 45%;
  }

  .map figure {
    padding-bottom: 45.5%;
  }

  .contact-section .content-wrapper h2 {
    width: 80%;
  }

  .contact-content {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
 }

  .contact-content h4 {
    font-size: 1.5em;
  }

 /*===================================================================
  FAQ PAGE
  ==================================================================*/

  .faq .content-wrapper {
    justify-content: space-between;

  }

  .faq-content {
    flex-basis: 45%;
  }

  .faq h2 {
    width: 100%;
  }

  .faq h4,
  .faq p {
    font-size: .875em;
    line-height: 1.125;
  }
}

@media only screen and (min-width: 1200px) {
  /***DESKTOP STYLES GO HERE***/

  header {
    padding: 15px 0;
  }

  .content-wrapper {
    max-width: 960px;
  }

  h2 {
    font-size: 2.25em;
  }

  h3,
  h4 {
    font-size: 1.875em;
  }

  p {
    font-size: 1.125em;
    line-height: 1.333;
  }

  /* Hero */

  .hero-area h1 {
    font-size: 3.75em;
    width: 80%;
  }

  /* Aside */

  aside .content-wrapper {
    justify-content: space-around;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 30%;
  }
  /* Changed width to 30% 5.21.22*/

  .form-description p {
    font-size: 1.125em;
  }

  /* Features */

  .features h2 {
    width: 90%;
  }

  .features article {
    flex-basis: 33%;
  }

  /* Reviews */

  .reviews h2 {
    padding-bottom: 50px;
  }

  .reviews article div {
    width: 42%;
  }

  footer h4 {
    font-size: 1.875;
  }

/*=================================================================
About Page
==================================================================*/

  .map figure {
    padding-bottom: 37.5%;
  }

  .mission h2,
  .contact-content .content-wrapper h2 {
    width: 95%;
    font-size: 3em;
  }

  .contact-content h4 {
    font-size: 1.875;
  }

/*================================================================
Faq Page
=================================================================*/

 .faq h2 {
  width: 100%;
  font-size: 3em;
 }

 .faq h4,
 .faq p {
  font-size: 1.125em;
  line-height: 1;
 }

}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
